@page "/"

<div class="question-container">
    @Question.Text
</div>

<div class="answer-container">

    @foreach (var answer in Question.Answers) {
        <button>@answer.Text</button>
    }
</div>
